body {
  background: url('../media/space.jpg');
  background-color: #000000;
  color: #ffffff;
  font-family: 'Oswald', serif;
  text-align: center;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 0.5em;
}
table {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2.5em;
  padding: 25px;
  color: #8585ad;
  border-collapse: collapse;
}
.datafield {
  background-color: #666699;
  font-weight: 700;
  padding: 5px;
  border: solid #52527a;
  border-width: 3px;
  border-collapse: collapse;
  text-decoration: underline;
}
.planetname {
  background-color: #666699;
  font-weight: 700;
  padding: 5px;
  border: solid #52527a;
  border-width: 3px;
  border-collapse: collapse;
}
.planetname a:link {
  background-color: #8585ad;
  color: #ffffff;
}
.planetname:hover a:hover {
  background-color: #8585ad;
  color: #e0e0eb;
}
.planetname a:active {
  background-color: #8585ad;
  color: #b3b3cc;
}
.planetname a:visited {
  background-color: #8585ad;
  color: #ffffff;
}
h1 {
  font-family: 'Oswald', serif;
  font-weight: 700;
  font-size: 50px;
  word-spacing: 2px;
  letter-spacing: 2px;
  padding: 2px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #ffffff;
}
p {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
}
a.source:link {
  color: #ffffff;
  text-decoration: none;
}
a.source:hover {
  color: #6c6d73;
  text-decoration: underline;
}
a.source:visited {
  color: #ffffff;
  text-decoration: none;
}
a.img:link {
  opacity: 1;
}
a.img:hover {
  opacity: 0.5;
}
a.img:visited {
  opacity: 1;
}
th,
td {
  background-color: #ffffff;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  padding: 10px 5px;
  border: solid #52527a;
  border-width: 2px;
  border-collapse: collapse;
}
